//  All these colors should be used in colors.scss


// CORE COLORS
$dark-core-yellow-color: #ffe445;
$dark-core-grey-dark-color: #eaeaea;
$dark-core-grey-light-color: #acacac;
$dark-core-blue-color: #317cff;
$dark-core-red-color: #dd0445;
$dark-core-brown-color: #ff6231;
$dark-core-green-color: #00b224;

// PROMO COLORS:
$dark-bg-gradient: linear-gradient(
    138.14deg,
    #fed42b 12.24%,
    #ed3e41 22.17%,
    #c20e12 30.78%,
    #e13034 45.6%,
    #fed42b 57.72%,
    #ed3e41 64.96%,
    #c20e12 72.69%,
    #ed3e41 100%
);
