// CORE COLORS
$light-core-yellow-color: #ffe356;
$light-core-grey-dark-color: #0d0d0d;
$light-core-grey-light-color: #9d9b98;
$light-core-blue-color: #004ed8;
$light-core-red-color: #e50f4f;
$light-core-brown-color: #ff6d3a;
$light-core-green-color: #090;

// PROMO COLORS: Цвета партнеров
$light-bg-gradient: linear-gradient(
    138.14deg,
    #fed42b 12.24%,
    #ed3e41 22.17%,
    #c20e12 30.78%,
    #e13034 45.6%,
    #fed42b 57.72%,
    #ed3e41 64.96%,
    #c20e12 72.69%,
    #ed3e41 100%
);
