@import 'borders';

$SCREEN_MOBILE_MIN: 320px;
$SCREEN_MOBILE_MAX: 840px;
$SCREEN_DESKTOP_MIN: 1024px;
$SCREEN_DESKTOP_ULTRAWIDE: 1200px;
$SCREEN_MAX: 1280px;

/* FONTS */
$FONT_SIZE_XXL: 32px;
$FONT_SIZE_XL: 22px;
$FONT_SIZE_L: 18px;
$FONT_SIZE_M: 15px;
$FONT_SIZE_S: 13px;
$FONT_SIZE_XS: 11px;
$FONT_SIZE_XXS: 10px;

/* LINE-HEIGHT */
$LINE-HEIGHT_SIZE_XXL: 38px;
$LINE-HEIGHT_SIZE_XL: 26px;
$LINE-HEIGHT_SIZE_L: 22px;
$LINE-HEIGHT_SIZE_M: 20px;
$LINE-HEIGHT_SIZE_S: 18px;
$LINE-HEIGHT_SIZE_XS: 16px;
$LINE-HEIGHT_SIZE_XSS: 14px;
$LINE-HEIGHT_SIZE_XXS: 14px;
$LINE-HEIGHT_SIZE_XXXS: 12px;

/* DURATIONS */
$DURATION_INSTANT: 0.1s;
$DURATION_FAST: 0.2s;
$DURATION_NORMAL: 0.3s;
$DURATION_LONG: 0.5s;
$DURATION_VERY_LONG: 1s;

/* HEADER */
$HEADER_HEIGHT: 70px;
$HEADER_DESKTOP_ANCHOR_OFFSET: -80px;
$HEADER_HEIGHT_WITH_SEARCH_FORM: 163px;
$basicFontFamily: 'Roboto', 'Helvetica Neue', arial, helvetica, sans-serif;

/* IOS */
$ios-bottom-offset: 32px;
